{% extends "ui/base.html" %}
{% block content %}
<div class="container">
  <h1>Site Details - {{ site.name }}</h1>

  <table class="table">
    <thead>
    <tr><td><strong>Date</strong></td>
      <td><strong>A Value</strong></td><td><strong>B Value</strong></td></tr>
    </thead>
    {% for entry in site.statistics_entries.all %}
    <tr>
      <td>{{ entry.date|date:'N j, Y' }}</td>
      <td>{{ entry.a|floatformat:2 }}</td>
      <td>{{ entry.b|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
