{% extends "ui/base.html" %}
{% block content %}
<div class="container">
  <h1>Summary</h1>

  <a href="{% url 'summary' %}"><button type="button" class="btn btn-primary {% if action == 'sum' %}active{% endif %}">Sum</button></a>
  <a href="{% url 'summary_average' %}"><button type="button" class="btn btn-primary{% if action == 'average' %}active{% endif %}">Average</button></a>


  <table class="table">
    <thead>
    <tr>
      <td><strong>Site</strong></td>
      <td><strong>A Value</strong></td><td><strong>B Value</strong></td>
    </tr>
    </thead>
    {% for site in sites %}
    <tr>
      <td>{{ site.name }}</td>
      <td>{{ site.aggregation_a|floatformat:2 }}</td>
      <td>{{ site.aggregation_b|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
